body {
  background-color: rgb(255, 217, 0);
  margin: 0px;
  padding: 0px;
  font-family: 'Comfortaa',
    cursive;

}



.top {
  display: flex;
  justify-content: center;

}


.navbar {

  display: flex;
  color: black;
  width: 90%;
  max-height: 100px;
  align-items: center;
  flex-direction: row;

}

.logo {
  width: 50%;
}

.logo img {
  width: 130px;
}

.navbar-right {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  display: flex;
  align-items: center;
}

.menu button {
  font-size: 13pt;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0);
}

.menu button:hover {
  border: none;
  padding: 15px 20px;
  background: rgb(255, 217, 0);
}


.header {
  display: flex;
  min-height: 100vh;
  background-color: rgb(214, 214, 214);
  justify-content: space-around;
  width: 100%;
}

.inHeaderLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 20px;
}

.inHeaderLeft hr{
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
}

.formLogin{
  display: flex;
  justify-content: center;
  
}

.formLogin form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.formLogin form input{
  display: flex;
  height: 50px;;
  margin-top:20px;
  text-align: center;
  font-size: 12pt;
  font-family: 'Comfortaa', cursive;
  border: none;
  width: 100%;
}
.formLogin form label{
  display: flex;
  margin-top:20px;
  width: 100%;
}
.formLogin form button{
  display: flex;
  border: none;
  margin-top:50px;
  padding:10px;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 217, 0);
  color: rgb(59, 59, 59);
  font-size: 12pt;
  font-family: 'Comfortaa', cursive;


}